input {
  keyboard {
		// Increase repeat rate and decrease repeat delay of holding down a key.
		repeat-delay 250
		repeat-rate 50
  }

  touchpad {
		// Enable tapping on touchpad to click.
    tap
  }

  trackpoint {
		// Increase accel-speed, disable acceleration.
		// Somehow, accel-speed still changes speed with acceleration disabled.
    accel-speed 0.3
    accel-profile "flat"
  }

	// When moving mouse to window, focus moves to window.
  focus-follows-mouse

	// When focusing window, mouse snaps to center of window.
  warp-mouse-to-focus
}

output "eDP-1" {
	mode "1920x1080@60.049"
}

